<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>A Simple Page with CKEditor</title>
        <!-- Make sure the path to CKEditor is correct. -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
        <script src="/ckEditor/adapter/jquery.js"></script>
       
<!--      	<script src="/resources/webjars/jquery/3.3.0/jquery.min.js"></script> -->
		
    </head>
    <body>
		<div id="toolbar">
			<span id="back" class="icon-back" onclick="">돌아가기</span><br>
			<span id="hinted" class="icon-pre disabled" title="Toggle Markdown Hints"></span>
		</div>
		<form id= "writeForm" name="writeForm" action="/post/write" method="post">
			<input type="text" id="subject" name="subject" placeholder="Subject"
				style="height: 70px; width: 100%; font-size: 55px; 
				border: none; border-right: 0px; border-top: 0px; boder-left: 0px; boder-bottom: 1px; outline-style: none; 
				font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 800;"/>
			<hr style="margin-top: 2px; border-top: 1px solid #999;">
			<input type="text"  name="content" id="content" style="min-height: 200px;"/>
			<hr>
		</form>
		<button type="submit" id="wirteSubmit"class="btn btn-primary btn-lg btn-block">저장</button>
		<script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
              
        </script>
        <script type="text/javascript">
			$(function(){
				//$('writeForm').ckeditor();
				 CKEDITOR.replace( 'writeForm');
			});	
        
        		$('#wirteSubmit').on('click',function(){
           			console.log("dd");
           			console.log(CKEDITOR.instances.writeForm.getData());
           			//console.log(CKEDITOR.instances.content.getData());
           			$('#subject').val(CKEDITOR.instances.writeForm.getData());
           			alert($('#subject').val());
           			alert($('#content').val());
       				$('#writeForm').submit();
       			});
        	//});		
		</script>
    </body>
</html>